<div class="{{section.class}}">
    <div class="ny-container">
      <h2 class="ny-title">{{ section.settings.ny_title }}</h2>
      <div class="ny-product-grid">
        {% for product in section.settings.ny_product_list %}    
             <div class="ny-box">
                <div class="ny-image-box">
                        <img src="{{product.featured_image.src }}" alt="{{product.featured_image.alt}}"/>
                </div>
                <div class="ny-selection-box"></div>
             </div>
        {% endfor %}    
      </div>
    </div>
</div>
<style>
.ny-container{padding-right: 51.5px;
padding-left: 51.5px;}
.ny-title{}
.ny-product-grid{display: grid;
    row-gap: 19px;
    column-gap: 19px;
    grid-template-columns: 433px 433px 433px}
.ny-box{}
.ny-image-box{}
.ny-selection-box{}
</style>    


{% schema %}
{
  "name": "NY Product Grid",
  "tag": "section",
  "class": "section section-featured-product ny-container",
  "settings": [
    {
    "type": "text",
    "id": "ny_title",
    "label": "Heading",
    "default": "Tisso vison in the wild"
    },
    {
      "type": "header",
      "content": "Select the 6 products",
      "info": "These products will appear in the grid"
    },
    {
    "type": "product_list",
    "id": "ny_product_list",
    "label": "Products",
    "limit": 6
    }
  ],
  "presets": [
    {
      "name": "NY Product Grid"
    }
  ]
}
{% endschema %}

